*{
    border: solid red 1px;
    font-size: 16px;
}

#container {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-column {
    justify-content: center;
    align-items: center;
}

